.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%; /* Ajuste para asegurar que ocupe el ancho completo del contenedor */
}

.card-element {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease; /* Efecto de transición en el borde */
}

.card-element:hover {
  border-color: #28a745; /* Cambia el color del borde cuando el usuario pasa el cursor */
}

.btn-pay {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición al hover */
  width: 100%; /* El botón ocupará el mismo ancho que el campo de tarjeta */
  max-width: 400px; /* Ajustamos el máximo ancho */
}

/* Efecto de hover para el botón */
.btn-pay:hover {
  background-color: #218838;
  transform: scale(1.02); /* Hacemos que el botón se agrande un poco en hover */
}

/* Notificación de pago exitoso */
.success-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideInRight 0.5s ease-out, fadeOut 4.5s 0.5s ease forwards;
  z-index: 9999;
}

.success-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Animaciones */
@keyframes slideInRight {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
