/* Estilo futurista para el formulario de login */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1c1c1e; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}

.login-container h1 {
  font-size: 2.5rem;
  color: #ec9926; /* Color principal */
  margin-bottom: 2rem;
  text-transform: uppercase;
}

form {
  background-color: #ffffff; /* Fondo del formulario */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* Efecto de sombra */
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #ec9926; /* Color principal para las etiquetas */
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #fef8f8; /* Fondo de los inputs */
  color: #ffffff;
  font-size: 1rem;
}

.form-group input:focus {
  outline: 2px solid #ec9926; /* Efecto de foco */
}

.btn-primary {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #ec9926; /* Color del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #d61b6b; /* Color al pasar el ratón */
}

.error-message {
  color: #ff4c4c; /* Color rojo para el mensaje de error */
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}


.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Esto agrega un margen entre los botones */
}

.btn {
  margin-bottom: 10px; /* Esto asegura que haya un espacio entre el botón de inicio de sesión tradicional y el de Google */
}
